.row {
    margin-top: 10px;
}
.gridContainer {
    padding-top: 10px;
    padding-bottom: 10px;
}

.jumbotron {
    margin-bottom: 0px;
}

.custCol {
    padding-left: 0px;
    padding-right: 0px;
    margin: 10px;
}
